html,
body {
  background-color: transparent;
  color: white;
  padding: 0;
}

#alert_box {
  min-width: 200px;
  min-height: 200px;
  display: grid;
  grid-template: 1fr 2fr / 1fr;

  font-family: Arial, sans-serif;
}

#alert_box header {
  display: flex;
  position: relative;
  justify-content: center;
}

#alert_box header span {
  margin: 0;
  padding: 1rem 2rem;
  position: absolute;
  bottom: -0.5rem;
  background-color: #333;
  border-radius: 1rem 1rem;
  font-size: 2.5rem;
}

#alert_box section {
  display: grid;
  grid-template: 1fr / 1fr;
  background-color: hsl(0, 0%, 20%);
  border: 1rem solid darkgreen;
  border-radius: 1rem;
  border-right: none;
  border-left: none;
  padding: 1rem 0;
}

#alert_box section h1 {
  font-size: 4rem;
  line-height: 5rem;
  /*color: rgba(255, 255, 255, 0.9);*/
  text-align: center;
  display: inline-block;
  word-break: break-word;
  margin: auto;
}
