html,
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  height: 300px;
  width: 400px;
}

#fox_house {
  position: relative;
}

#speech_bubble {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  text-transform: lowercase;
  text-align: center;
  display: inline-block;
  word-break: break-word;
  max-width: 135px;
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  background-color: #66162d;
  border: 3px solid #66162d;
  border-radius: 1rem 1rem 1rem 0;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  box-shadow: -2px 8px 15px 1px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: -2px 8px 15px 1px rgba(0, 0, 0, 0.28);
}

#speech_bubble_container {
  height: 200px;
  overflow: visible;
  top: 25px;
  position: absolute;
  right: 28px;
  width: 165px;
}

#speech_span {
  position: relative;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(0px);
  }
}
