html,
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: whitesmoke;
  height: 300px;
  width: 400px;
}

#fox_house {
  position: relative;
}

/* TODO fix text wrap */
#speech_bubble {
  padding: 0.4rem 0.8rem;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  text-wrap: normal;
  position: absolute;
  right: 50px;
  top: 25%;
  max-width: 150px;
  background-color: #333;
  border: 2px solid forestgreen;
  border-radius: 1rem 1rem 1rem 0rem;
  transform: translatey(0px);
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(0px);
  }
}
