#leaderboard {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
  font-size: 25px; /* use this line to change size leaderboard elements*/
  font-family: monospace;
}

ul {
  padding: 0;
  margin: 0;
  list-style: decimal;
  max-width: 50em;
}

li {
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 4rem 3fr 1fr;
  font-size: 1em;
  padding: 0.5rem;
  transition: transform 0.1s ease-in-out;
}

li:hover {
  transform: scale(1.025);
}

li:first-child {
  transform: scale(1.2);
}

li:first-child:hover {
  transform: scale(1.125);
}

li span:first-child {
  text-align: end;
  padding-right: 1rem;
}

li:nth-child(2n) {
  background-color: rgba(0, 128, 0, 0.471);
  border-radius: 5px;
}

li span:last-child {
  text-align: center;
}

li span:last-child::after {
  content: " ";
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/rupee.png");
}

@media (min-width: 500px) {
  li span:last-child {
    text-align: end;
  }
  li:first-child {
    transform: scale(1.1);
  }
}
