html,
body {
  background-color: #000;
  color: white;
  padding: 2%;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: green;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  font-size: 5rem;
}

p {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
}

.features {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.features > a {
  padding: 0.5rem 1rem;
  margin: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  text-transform: lowercase;
  background-color: green;
  color: white;
}

.features > a:hover {
  text-decoration: line-through;
  background-color: rgba(0, 128, 0, 0.527);
}
