{% extends "layout.njk" %}
{% block content %}
<header>
  <h1>{{ botname }}</h1>
  <p id="loading">welcome to {{ botname }}</p>
  <div class="features">
    <a href="/auth">Login</a>
  </div>
</header>
{% endblock %}
