{% extends "layout.njk" %}
{% block content %}
<header>
  <h1>{{ config.name }}</h1>
  <p id="loading">welcome to {{ config.name }}</p>
  <div class="features">
    <a href="/auth">Login</a>
    {% for route in routes %}
    <a href="{{ route[1] }}">{{route[0] | lower }}</a>
    {% endfor %}
  </div>
</header>
<main>
  <h2>Running Config</h2>
  <ul class="horizontal-list settings">
    <li>
      <span>Start Time</span>
      <code>{{ startTime }}</code>
    </li>
    <li>
      <span>Command Prefix</span>
      <code>{{ config.prefix }}</code>
    </li>
    <li>
      <span>Chat Polling Rate</span>
      <code>{{ config.chatPollRate }} sec</code>
    </li>
    <li>
      <span>Broadcast Polling Rate</span>
      <code>{{ config.broadcastPollRate }} sec</code>
    </li>
    <li>
      <span>Registered Listeners</span>
      <code>{{ listeners }}</code>
    </li>
    <li>
      <span>User Cache Size</span>
      <code>{{ userCacheSize }}</code>
    </li>
    <li>
      <span>API Call Count</span>
      <code>{{ callHistory.length }}</code>
    </li>
    <li>
      <span>API Calls per Min</span>
      <code>{{ callPerMin }}</code>
    </li>
  </ul>
</main>
{% endblock %}
