<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ botname }} UI</title>
    <style>
        {% include "style.css" %}
    </style>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
